{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}
{% set title = "What'sRabbit LiveChat"|t('app') %}
{% set fullPageForm = true %}
{% set foundAsset = displaySettings.avatarAssetId ? craft.assets().id(displaySettings.avatarAssetId) : null %}
{% set crumbs  = [
    {
        label: 'What\'sRabbit LiveChat'|t('whatsrabbit-live-chat'),
        url: url('whatsrabbit-live-chat/display-settings/edit'),
    },
    {
        label: 'Settings'|t('whatsrabbit-live-chat'),
        url: url('whatsrabbit-live-chat/display-settings/edit'),
    },
]%}
{% set tabs = {
    apiSettings: {
        label: 'API settings'|t('plugin-handle'),
        url: '#api-settings',
    },
    displayOptions: {
        label: 'Display options'|t('plugin-handle'),
        url: '#display-options',
    },
} %}


{% block mainFormAttributes -%}
    {# We need this in order to submit the avatar #}
    {{ parent() }} enctype="multipart/form-data"
{%- endblock %}

{% block content %}
    {{ actionInput('whatsrabbit-live-chat/display-settings/save') }}
    <div id="api-settings">
       {{ forms.elementSelectField({
           label: "Avatar",
           id: "avatarAssetId",
           name: "avatarAssetId",
           viewMode: "list",
           elementType: 'craft\\elements\\Asset',
           required: true,
           errors: displaySettings.getErrors('avatarAssetId'),
           limit: 1,
           elements: foundAsset ? foundAsset : [],
           criteria: { kind: 'image'}
       }) }}

       {{ forms.textField({
           label: 'Title'|t('app'),
           id: 'title',
           name: 'title',
           value: displaySettings.title,
           size: 50,
           errors: displaySettings.getErrors('title'),
           required: true,
       }) }}

       {{ forms.textField({
           label: 'Description'|t('app'),
           id: 'description',
           name: 'description',
           value: displaySettings.description,
           errors: displaySettings.getErrors('description'),
           size: 50,
           required: true,
       }) }}

       {{ forms.textField({
           label: 'WhatsApp URL test'|t('app'),
           id: 'whats-app-url',
           name: 'whatsAppUrl',
           value: displaySettings.whatsAppUrl,
           errors: displaySettings.getErrors('whatsAppUrl'),
           size: 50,
           required: true,
       }) }}

       {{ forms.lightswitch({
           label: 'Show livechat widget'|t('app'),
           id: 'enabled',
           name: 'enabled',
           on: displaySettings.enabled,
       }) }}
   </div>
    <div id="display-options" class="hidden">
        {{ forms.textField({
            label: 'Position'|t('app'),
            id: 'position',
            name: 'position',
            value: displaySettings.position,
            size: 50,
            errors: displaySettings.getErrors('position'),
        }) }}
        {{ forms.textField({
            label: 'Z'|t('app'),
            id: 'z-index',
            name: 'zIndex',
            value: displaySettings.zIndex,
            size: 50,
            errors: displaySettings.getErrors('zIndex'),
        }) }}
        {{ forms.textField({
            label: 'Left'|t('app'),
            id: 'left',
            name: 'left',
            value: displaySettings.left,
            size: 50,
            errors: displaySettings.getErrors('left'),
        }) }}
        {{ forms.textField({
            label: 'Right'|t('app'),
            id: 'right',
            name: 'right',
            value: displaySettings.right,
            size: 50,
            errors: displaySettings.getErrors('right'),
        }) }}
        {{ forms.textField({
            label: 'Bottom'|t('app'),
            id: 'bottom',
            name: 'bottom',
            value: displaySettings.bottom,
            size: 50,
            errors: displaySettings.getErrors('bottom'),
        }) }}
        {{ forms.textField({
            label: 'Top'|t('app'),
            id: 'top',
            name: 'top',
            value: displaySettings.top,
            size: 50,
            errors: displaySettings.getErrors('top'),
        }) }}
        {{ forms.textField({
            label: 'Margin'|t('app'),
            id: 'margin',
            name: 'margin',
            value: displaySettings.margin,
            size: 50,
            errors: displaySettings.getErrors('margin'),
        }) }}

    </div>
{% endblock %}
